body {
  margin: 0;
  background: #0d1117;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  max-width: 430px;
  margin: 40px auto;
  padding: 25px;
  background: #161b22;
  border-radius: 12px;
  box-shadow: 0 0 25px #00000080;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 25px;
}

label {
  font-size: 15px;
  margin-top: 12px;
  display: block;
}

input {
  width: 100%;
  padding: 11px;
  margin-top: 5px;
  border: none;
  background: #21262d;
  color: white;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background: #238636;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #2ea043;
}

#status {
  margin-top: 20px;
  text-align: center;
}
